PORT=3000
GOOGLE_SHEET_ID=1pBomI3oHVYEMYeF-GUffv8g9PrRdMQqWoFHSKmToJmc
GOOGLE_SHEET_NAME=CRM
GOOGLE_SHEET_RANGE=A4:O
GOOGLE_SERVICE_ACCOUNT_JSON=

POSTGRAD_GOOGLE_SHEET_ID=1kxzjNRgWAm5rIgMG94LcYRXciDsJ5oG0GkCp927u4Hk
POSTGRAD_GOOGLE_SHEET_NAME=CRM VN
POSTGRAD_GOOGLE_SHEET_RANGE=A8:H

FB_ACCESS_TOKEN=
FB_PAGE_ID=140994872596251
FB_APP_ID=1458660842057290
FB_APP_NAME=Threads
FB_USER_ID=1227181449399584
FB_USER_NAME=Pham Minh Duc
FB_TOKEN_EXPIRES_AT=
FB_DATA_ACCESS_EXPIRES_AT=

# Or use a local service-account key file:
# GOOGLE_APPLICATION_CREDENTIALS=C:\\path\\service-account.json
